<div class="everything" *ngIf="add"> 
    <div class="closeevery" (click)="showadd();">
        <i class="fas fa-times"></i>
    </div>
    <div class="mapheader">
        Feedback
    </div>
    <div class="center">
        <form [formGroup]="youtubeform" (ngSubmit)="save()">
            <div class="form-header" >
                Feedback 
            </div>
            
            <div class="inputwrapper" style="margin-top:65px;">
                <div class="input"  style="height:50px;">
                    <label for="fullname" style="top:-100%; position:absolute;" >
                         Name <br>
                        <span class="emailspan" >only if you want to, otherwise, just put down an anonymous name
                        </span>
                    </label>
                     
                    <input type="text" id="name" formControlName ="name"  style="
                    display: block;
                    padding-left: 60px;">
                    <div class="icon" style="display:flex;">
                    <i class="far fa-user-circle">

                    </i>
                    </div>
                </div>
                <div class="red" *ngIf="errorMessages.name">
                    <div *ngFor="let error of errorMessages.name">
                        {{error}}
                    </div>
                </div>
            </div>

           

            
            
            

            <div class="inputwrapper" style="margin-top:40px;">
                <div class="input">
                    <label for="email" class="labelup" style="margin-bottom:20px;">
                        Please, Leave Us a Feedback on What  You Think We Can Do To Improve This Website
                    </label>
                    <textarea id="email" formControlName ="email" style="padding:5px;" ></textarea>
                    <div class="icon">
                    <i class="far fa-envelope">

                    </i>
                    </div>
                </div>
                <div class="red" *ngIf="errorMessages.email">
                    <div *ngFor="let error of errorMessages.email">
                        {{error}}
                    </div>
                </div>
            </div>

            <input type="submit" [disabled]="!youtubeform.valid"
            [title]="youtubeform.valid?'Submit':'You Have to Fill all Required Fields '"
            value="{{valuesubmit?'Please Wait ...':'Submit'}}"  >
            <div *ngIf="clicksubmit && !youtubeform.valid">

            </div>
            
            
        </form>
    </div>

</div>

<div class="aarin opo" *ngIf = "submitted">
    <div class="aarincontent">
        <div class="closeaarin">
            <i class="fas fa-times" (click)="closeaarinfn();">

            </i>
        </div>
        J2day says "Thank You" for leaving a feedback
    </div>
        
</div>

<div class="everyoverlay" *ngIf="add">

</div>

<app-feedbacks [feedback]="feedbacki" (click)="showadd();">

</app-feedbacks>

<div class="fixedadd" (click)="showadd();">
 <div class="mssg"> Leave A Feedback</div>
    <i class="fas fa-plus"></i>
</div>