<div class="aboutheader">
    About 
</div>
<div class="aboutwords">
    <p>
    Welcome to Map That Talent, an idea started by the youtuber J2day and designed 
    by stevlomedia
    to connect his subscribers together based on their talents.
</p>
<div class="bllue">
        You can contact my developer on 
        <div class="inlineorblock">
            <a href="https://wa.me/+2348145693491" class="space">WhatsApp</a>
            <a href="https://www.fiverr.com/stevlomedia" class="space">Fiverr</a> 
            <a href="https://www.upwork.com/freelancers/~013a08a3a5d0fb0d1d" class="space">Upwork</a> 
        </div>

    </div>
</div>





