<div class="everything"> 
    <div class="mapheader">
        Admin Password
    </div>
    <div class="center">
        <form [formGroup]="youtubeform" (ngSubmit)="save()">
            <div class="form-header">
               Change Password
            </div>
           
            

            

            <div class="inputwrapper" >
                <div class="input">
                    <label for="password" class="labelup" >
                       New Password
                    </label>
                    <input [type]="showpass?'text':'password'" id="password" formControlName ="password" style="padding-right:50px;" >
                    <div class="icon">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="icon iconright" (click)="showpp();">
                        <span>
                        {{showpass?'Hide':'Show'}} </span>
                    </div>
                </div>
                <div class="red" *ngIf="errorMessages.password">
                    <div *ngFor="let error of errorMessages.password">
                        {{error}}
                    </div>
                </div>
            </div>

            <input type="submit" [disabled]="!youtubeform.valid"
            [title]="youtubeform.valid?'Submit':'You Have to Fill all Required Fields '"
           value="{{valuesubmit?'Please Wait ...':'Submit'}}"  >
            <div *ngIf="clicksubmit && !youtubeform.valid">

            </div>
            
            
        </form>
    </div>

</div>
<div class="aarin" *ngIf = "updatemessage">
    <div class="aarincontent" [style.color]="loginerror?'red':'green'">
        <div class="closeaarin">
            <i class="fas fa-times" (click)="closeaarinfn();">

            </i>
        </div>
        {{!loginerror? 'Password Update Successfull. You will be redirected to the Admin page':loginerror}}
    </div>
        
</div>



   