.everything{
     left:0px;width:100vw;
    min-height: calc(100vh - 120px); padding:0px; margin:0px;
    justify-content:center; align-items: flex-start;
    display:flex;z-index:-10; margin-top: 110px; padding-top:40px;

}
.center{
    width:90%; box-shadow: 2px 2px 10px 7px rgb(8 17 30);
    padding:40px 0px; background-color: white;
}
.input{
    width: 250px;height:50px; margin:auto; padding:0px;
    position:relative;font-family: 'Dosis';

}
.red{
    width:250px;padding-left: 65px;margin:auto;margin-top:15px;
    color:red;
}
.input label{
    position:absolute; width:100%; height:100%;
    box-sizing: border-box; display:flex; 
     align-items: flex-start;
}
.input input{
    width:100%; height: 100%; box-sizing:border-box;
    outline: none; border:1px solid black; border-radius:4px;
}
.input label, .input input{
    padding-left:60px; font-size:1em;
}
.input input:focus{
box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
border:none;
}

.input .icon{

    position: absolute; left:0px; width: 50px;border-right:2px solid black;
    display: flex; justify-content: center;align-items: center;
    top:5px;height: 40px; box-sizing:border-box;
}
.input .icon i{
    display:block; max-width:60%; max-height: 60%;
}
.labelup{
    top:-80%;
}
.labelup2{
    top:-100%;
}
.form-header{
    font-weight:bold; font-size:1.5em; font-family: 'Dosis', sans-serif;
    margin-bottom: 50px; text-align: center;
}
.options{
    display:none; width:250px; margin:auto;margin-top:0px; border-radius:4px;
    max-height:300px;overflow-y: auto;

}
.display{
    display:block;
}
.eachoption{
    height:auto; width:100%; border-bottom:1px solid #bbb; color:black;
    font-family: 'Courier New';color:black; margin:9px 0px; box-sizing: border-box;
    padding-left:10px; 
    /* font-family: 'Dosis';
    padding-left: 10px;
    box-sizing: border-box; */
}
.mapheader{
    position:absolute; top:65px;left:0px; font-family: 'Dosis', sans-serif; font-size:2em;
    font-weight:bold;color:white;text-align:center; width:100vw;
}
label{
    flex-direction:column;
    align-items: flex-start;
    justify-content: center; font-weight: bold;
}
input{

 font-family: 'Dosis', sans-serif;

}
.emailspan{
    font-size:12px; font-weight:normal;
}
.options{
    border: 1px solid black;
}
.inputwrapper{
    margin-bottom: 50px;
}
input[type="submit"]{
    width:100px;border-radius:20px;margin:auto;display:block;
    padding:8px;

}
.fromtop.boxshadow{
    position: absolute;top:65px; left: 0px;width:100vw;
    box-shadow: 0px 4px 50px 7px rgb(46, 42, 42); background-color: white;
    padding:20px; box-sizing: border-box; font-family: 'Ubuntu', sans-serif;
    line-height: 30px; text-align:center; font-size:1em;
}
.closesection{
    padding:8px;
    text-align: center; color:red;
    
}
.wordswithpadding{
    padding-top: 30px;
}
.anotherpadding{
    padding:10px;
}
.yesorno{
    display:flex; justify-content: center; align-items: center;
    margin:20px;

}
.yes,.no{
    color: #bbb;  padding:4px; 
    font-family: 'Ubuntu';
    outline:0; border-radius:20px; width:90px; margin-right: 20px;
}
.yes{
background-color:green;}
.no{
    background-color:red;
}
.displayblock{
    display:block;
}
.isestart{
    padding:0px 20px;
}
.eachperson{
    padding:5px; border-bottom: 1px solid #bbb;
}
.eachpersonheader{ position: relative; padding: 10px 0px; font-weight:bold;
    font-family: 'Roboto', sans-serif;
    height:30px; display: flex; justify-content: center; align-items: center;
}
.eachpersonbody{
    padding-bottom: 15px;
}
.eachpersonheader .icon{
    position: absolute; right:12px; top:12px; transition: 1s;

}
.eachpersonheader .icon{display:flex; justify-content: center; align-items: center;
    height:20px; width:20px; padding:2px; border-radius:50%; 
}
.eachpersonheader .icon:hover{
    background-color: #bbb;
}
.eachpersonbody, .eachcontact{
    display:flex; justify-content: center; align-items: center;
    flex-wrap: wrap; flex-direction: column;
}
.eachpersonbody.display{
    display:flex;
}
.eachpersonbody.nodisplay{
    display:none;
}
.nodisplay{
    display:none;
}
.eachcontact{
    width:260px; margin-right: 30px; flex-direction: row;
    justify-content: flex-start;
}
.eachcontact .icon{
    margin-right: 19px;
}
.rotatedown{
    transform: rotateZ(90deg);
}
.rotateup{
    transform: rotateZ(-90deg);
}
@media only screen and (min-width:1000px) {
    .wordswithpadding{
        font-size:1.2em; font-weight:bold;
    }
    .eachpersonbody, .eachcontact{
        display:flex; justify-content: center; align-items: center;
        flex-wrap: wrap; flex-direction: row;
    }
    .eachcontact{
        width:200px; margin-right: 30px; justify-content: center;
    }
    .eachcontact .icon{
        margin-right: 10px;
    }
    

    .everything{
        margin-top:120px;
        justify-content: center; align-items: center;
        padding: 0px;
    }
    .center{
        width:40%;
    }
    .input{
        width:350px;
    }
    .red, .options{
        width:350px;
    }
}