<header class="flexcenter">
  <div class="hamburger flexcenter" (click)="opennav();">
    <span class="bar">

    </span>
    <span class="bar">

    </span>
    <span class="bar">

    </span>
    
    </div>
    <div class="socialmedia flexcenter">
      <a class="facebook flexcenter" href="">
        <i class="fab fa-youtube">

        </i>
        
        
      </a>
      <a class="facebook flexcenter" href="https://api.whatsapp.com/send?text=Connect With People Who Have The Same Talent As You https://map-that-talent.web.app/home
      ">
        <i class="fab fa-whatsapp">

        </i>

      </a>
  </div>
  <nav class="bigscreen flexcenter">
    <ul>
      <li>
        <a [routerLink]="['/home']" routerLinkActive="active"> Home</a>
      </li>
      <li  *ngIf="id">
        <a [routerLink]="['/connect', id]" routerLinkActive="active"
       > Connect</a>
      </li>
      <li>
        <a [routerLink]="['/contact']" routerLinkActive="active"> Contact</a>
      </li>
      <li>
        <a [routerLink]="['/about']" routerLinkActive="active"> About</a>
      </li>
      <li>
        <a [routerLink]="['/feedback']" routerLinkActive="active"> Feedback</a>
      </li>
    </ul>
  </nav>
  <div class="smallscreen flexcenter" [ngClass]='{
    "smallscreensize" : opennavbool
  }'>
    <div class="close">
      <div class="closeicon">
        <i class="fas fa-times " (click)="closenav();"></i>
      </div>
    </div>
    <ul><li>
      <a [routerLink]="['/home']" routerLinkActive="active" (click)="closenav();"> Home</a>
    </li>
    <li  *ngIf="id">
      <a [routerLink]="['/connect', id]" routerLinkActive="active"
      (click)="closenav();" > Connect</a>
    </li>
    <li>
      <a [routerLink]="['/contact']" routerLinkActive="active" (click)="closenav();"> Contact</a>
    </li>
    <li>
      <a [routerLink]="['/about']" routerLinkActive="active" (click)="closenav();"> About</a>
    </li>
    <li>
      <a [routerLink]="['/feedback']" routerLinkActive="active" (click)="closenav();"> Feedback</a>
    </li>
    </ul>
  </div>

</header>
<div class="largewrapper" (click)="closenav();">
  <router-outlet>

  </router-outlet>
</div>