<div class="everything"> 
    <div class="mapheader">
        Admin Sign In
    </div>
    <div class="center">
        <form [formGroup]="youtubeform" (ngSubmit)="save()">
            <div class="form-header">
                Login
            </div>
           
            

            <div class="inputwrapper" >
                <div class="input">
                    <label for="email" class="labelup" >
                      Email
                        
                    </label>
                    <input type="text" id="email" formControlName ="email" >
                    <div class="icon">
                    <i class="far fa-envelope">

                    </i>
                    </div>
                </div>
                <div class="red" *ngIf="errorMessages.email">
                    <div *ngFor="let error of errorMessages.email">
                        {{error}}
                    </div>
                </div>
            </div>

            <div class="inputwrapper" >
                <div class="input">
                    <label for="password" class="labelup" >
                        Password
                    </label>
                    <input [type]="showpass?'text':'password'" id="password" formControlName ="password" style="padding-right:50px;" >
                    <div class="icon">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="icon iconright" (click)="showpp();">
                        <span>
                        {{showpass?'Hide':'Show'}} </span>
                    </div>
                </div>
                <div class="red" *ngIf="errorMessages.password">
                    <div *ngFor="let error of errorMessages.password">
                        {{error}}
                    </div>
                </div>
                <div class="under" (click)="openpopup()">
                    Having Troubles With Authentication?<br>
                    Reset Your Password
                </div>
            </div>

            <input type="submit" [disabled]="!youtubeform.valid"
            [title]="youtubeform.valid?'Submit':'You Have to Fill all Required Fields '"
           value="{{valuesubmit?'Please Wait ...':'Submit'}}"  >
            <div *ngIf="clicksubmit && !youtubeform.valid">

            </div>
            
            
        </form>
    </div>

</div>
<div class="aarin" *ngIf = "loginerror">
    <div class="aarincontent" [style.color]="loginerror?'red':'black'">
        <div class="closeaarin">
            <i class="fas fa-times" (click)="closeaarinfn();">

            </i>
        </div>
        {{loginerror}}
    </div>
        
</div>

<div class="overlay2"
*ngIf="overlay2">

</div>
<div class="emailpopup" *ngIf="emailpopup">
<div class="center">
    <div class="closeemailpop">
        <i class="fas fa-times" (click)="closepopup()"></i>
    </div>
    <form [formGroup]="youtubeform">
        <div class="form-header">
            Reset Password
        </div>
        <div class="inputwrapper" >
            <div class="input">
                <label for="email" class="labelup" >
                  Enter Your Email
                    
                </label>
                <input type="text" id="email" formControlName ="email" >
                <div class="icon">
                <i class="far fa-envelope">

                </i>
                </div>
            </div>
            <div class="red" *ngIf="errorMessages.email">
                <div *ngFor="let error of errorMessages.email">
                    {{error}}
                </div>
            </div>
        </div>    
         
        <input type="submit" [disabled]="!youtubeform.get('email').valid"
        [title]="youtubeform.get('email').valid?'Submit':'You Have to Fill all Required Fields '"
       value="{{valuesubmit?'Please Wait ...':'Submit'}}" (click)="reseti();" >
    </form>
</div>
</div>

<div class="aarin aarin2" *ngIf = "resetMessage">
    <div class="aarincontent" [style.color]="resetError?'red':'green'">
        <div class="closeaarin">
            <i class="fas fa-times" (click)="closeaarinfn2();">

            </i>
        </div>
        {{resetError?resetError:resetSuccess}}
    </div>
        
</div>

   