<div class="flexcenter centercenter ">
    <div class="center flexcenter">
        <div class="eachpie pieone flexcenter" (click)="rout('tech');">
            TECHNOLOGY
        </div>
        <div class="eachpie pietwo flexcenter" (click)="rout('fashion');">
            FASHION
        </div>
        <div class="eachpie piethree flexcenter" (click)="rout('gaming');">
            GAMING
        </div>
        <div class="eachpie piefour flexcenter" (click)="rout('others');">
            OTHERS
        </div>

    </div>
    <div class="bottom flexcenter">
        Click the pie-chart to map your talent
    </div>
    
        <picture>
            
            <img src="/assets/mapthattalentlogo.jpg" alt="Map That Talent">
        </picture>
    
</div>